a.navbar-brand, a.navbar-brand:hover, a.navbar-brand:active, a.navbar-brand:focus {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
    font-weight: bold;
  }
  
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  .navbar {
    background: linear-gradient(90deg, #005587, 20%, #00225c);
  }

  .container {
    max-width: 1500px !important;
  }

  .container-spiderweb {
    padding: 0px !important;
  }

  .btn-navbar {
    background-color: #f4f4f4;
    color: black;
    margin-left: 5px;
  }

  .btn-navbar:hover {
    background-color: #dae0e5;
  }

  .btn-navbar:focus {
    background-color: #dae0e5;
    box-shadow: none;
  }

  .btn-search {
    background-image: url(https://www.flaticon.com/svg/static/icons/svg/786/786307.svg);
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }

  .btn-stop {
    background-image: url(https://www.flaticon.com/svg/static/icons/svg/254/254443.svg);
    background-position: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }

  
  
  