<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
      <div class="container container-spiderweb">
        <a class="navbar-brand" [routerLink]="['/']">SpiderWeb</a>
        <div class="btnnavbar">
          <!--<button class="btn btn-navbar btn-search" *ngIf="router.url === '/graph'"></button>-->
          <button class="btn btn-navbar" *ngIf="router.url === '/graph'" (click)="toast()" [routerLink]="['/']">Arrêter</button>
        </div>
      </div>
    </nav>
  </header>
  