
<div class="container container-spiderweb">
    <div class="row">
        <div class="col">
            <div class="container-urls">
                <h6 class="title-spiderweb">Liste des URLs trouvés:</h6>
                <input class="form-control" type="text" [(ngModel)]="urlFilter.label" placeholder="Chercher">
                    <table class="table">
                        <tbody>
                        <tr *ngFor="let Graph of myGraph | filterBy: urlFilter; let i = index">
                            <button class="btn btn-list" (click)="clickList(Graph.id)">{{ Graph.label }}</button>
                        </tr>
                        <td *ngIf="(myGraph | filterBy: urlFilter).length === 0">Auncun résultat...</td>
                        </tbody>
                    </table>
            </div> 
        </div>
        <div class="col-9">
            <div class="graph" id="mynetwork"></div>
        </div>
    </div>
</div>