  .graph {
    background-color: #f4f4f4;
    border-radius: .25rem;
    border: 1px solid #dae0e5;
  }

  .progress-bar {
    background-color: #005587;
  }

  .progress {
    height: 35px;
  }

  .container-urls {
    background-color: #f4f4f4;
    border-radius: .25rem;
    height: 100%;
    width: 100%;
    border: 1px solid #dae0e5;
    padding: 15px;
  }
  
  .title-spiderweb {
    margin-bottom: 1rem;
    font-size: large;
  }

  .title-list {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: medium;
  }

  .form-control:active, .form-control:focus {
    border-color: #00225cd4;
    box-shadow: 0 0 0 0.2rem #00225c8f;
    margin-bottom: 10px;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .btn-list {
    width: 100%;
    color: black;
    border-top: 1px solid #dae0e5;
    border-radius: 0px;
    text-align: left;
  }
  
  .btn-list:active {
    background-color: #dae0e5a3;
    border-color: #dae0e5a3;
  }
  
  .btn-list:focus {
    box-shadow: none;
  }
  
  .btn-list:hover {
    background-color: #dae0e5;
  }