<div class="container container-spiderweb">
    <h5 class="title-spiderweb">Veuillez entrez les URLs initiaux des différents crawlers</h5>
  
    <div id="erreurVide" class="alert alert-danger" style="display:none" role="alert">
      L'un des URLs est vide. Veuillez tous les compléter
    </div>

    <form [formGroup]="postUrl" (ngSubmit)="post(postUrl.value)">
    <div class="form-group">
      <div id="erreurUrl1" class="alert-danger" style="display:none" role="alert">
        L'URL 1 n'existe pas. Veuillez réessayer
      </div>
      <label>URL 1</label>
      <input type="text" class="form-control" formControlName="url1" placeholder="https://www.usherbrooke.ca" required>
    </div>
    <div class="form-group">
      <div id="erreurUrl2" class="alert-danger" style="display:none" role="alert">
        L'URL 2 n'existe pas. Veuillez réessayer
      </div>
      <label>URL 2</label>
      <input type="text" class="form-control" formControlName="url2" placeholder="https://github.com" required>
    </div>
    <div class="form-group">
      <div id="erreurUrl3" class="alert-danger" style="display:none" role="alert">
        L'URL 3 n'existe pas. Veuillez réessayer
      </div>
      <label>URL 3</label>
      <input type="text" class="form-control" formControlName="url3" placeholder="https://gitlab.com" required>
    </div>
    <div class="form-group">
      <div id="erreurUrl4" class="alert-danger" style="display:none" role="alert">
        L'URL 4 n'existe pas. Veuillez réessayer
      </div>
      <label>URL 4</label>
      <input type="text" class="form-control" formControlName="url4" placeholder="https://facebook.com" required>
    </div>
    <button type="submit" class="btn btn-spiderweb">C'est parti !</button>
  </form>