.title-spiderweb {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .container-spiderweb {
    width: 40%;
  }
  
  .form-group {
    margin-bottom: 2rem;
  }
  
  .form-control:active, .form-control:focus {
    border-color: #00225cd4;
    box-shadow: 0 0 0 0.2rem #00225c8f;
  }
  
  .btn-spiderweb {
    width: 100%;
    color: white;
    background-color: #00225c;
    border-color: #00225c;
  }
  
  .btn-spiderweb:active {
    background-color: #00225cd4;
    border-color: #00225cd4;
  }
  
  .btn-spiderweb:focus {
    box-shadow: 0 0 0 0.2rem #00225c8f;
  }
  
  .btn-spiderweb:hover {
    background-color: #00225ce6;
  }
  